@import "tailwindcss";

:root {
    background-color: #01002c;
  }

  /* Hide scrollbar for Chrome, Edge, and Safari */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.slider-container {
  overflow-x: auto;
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ */
}

.slider-container::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge */
}
